                        **MINERÍA**
                Mayra Cristina Berrones Reyes
                
                       Phyton Básico


  **Nombre: Valeria Esthepania Urbina Gallegos         17999559**
                         
                    Lic. Actuaría Grupo: 003
                         
                         
San Nicolás de los Garza, Nuevo León 22 octubre 2020

**EJERCICIO 1**

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [136]:
matricula= input("Matricula: ")
nombre= input("Nombre: ")

Matricula: 1799959
Nombre: Valeria Urbina

In [137]:
print(nombre, matricula)

Valeria Urbina 1799959

**EJERCICIO 2**

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [38]:
uno=float(input("Numero 1: "))
dos=float(input("Numero 2: "))
x=int(input("1. Suma, 2.Resta, 3. Multiplicación, 4.División, 5.Exponente, 6.Salir"))

suma=0
resta=0
multi=0
divi=0
ex=0
i=1

while x<=5:
   
    if x==1:
        suma=uno+dos
        print(suma)
    elif x==2:
        resta=dos-uno
        print(resta)
    elif x==3:
        multi=uno*dos
        print(multi)
    elif x==4:
        divi=dos/uno
        print(divi)
    elif x==5:
        ex=uno**dos
        print(ex)
    else:
        print("Ingrese del uno al cinco")
    x=int(input("1. Suma, 2.Resta, 3. Multiplicación, 4.División, 5.Exponente, 6.Salir"))

Numero 1: 1
Numero 2: 2
1. Suma, 2.Resta, 3. Multiplicación, 4.División, 5.Exponente, 6.Salir5
1.0
1. Suma, 2.Resta, 3. Multiplicación, 4.División, 5.Exponente, 6.Salir3
2.0
1. Suma, 2.Resta, 3. Multiplicación, 4.División, 5.Exponente, 6.Salir4
2.0
1. Suma, 2.Resta, 3. Multiplicación, 4.División, 5.Exponente, 6.Salir5
1.0
1. Suma, 2.Resta, 3. Multiplicación, 4.División, 5.Exponente, 6.Salir1
3.0
1. Suma, 2.Resta, 3. Multiplicación, 4.División, 5.Exponente, 6.Salir2
1.0
1. Suma, 2.Resta, 3. Multiplicación, 4.División, 5.Exponente, 6.Salir6

**EJERCICIO 3:**

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo

In [77]:
d = []

for i in range(1,10):
    nd = int( input( "Dime el numero {}: ".format(i)))

    if nd%3 == 0:
        d.append(nd)
    else:
        print("No es multiplo de 3")
print("Lalista es:")        
for i in range(len(d)):
    print(d[i])
    
def sumal(lista):
    suma=0
    for d in lista:
        suma+=d
    return suma

print("La suma es: ", sumal(d))

Dime el numero 1: 3
Dime el numero 2: 6
Lalista es:
3
6
La suma es:  9

**EJERCICIO 4**

Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

Par o Impar

In [93]:
numero=int(input("Numero: "))

if numero%2 == 0:
     print("Par")
elif numero==1:
    print("Impar")
else:
    print("impar")

Numero: 1
Impar

Primo o no

In [ ]:
numero=int(input("Numero: "))

respuesta= True

for j in range(2,numero):
    if numero%2 == 0:
        respuesta= False
    break
    
print(respuesta)

**EJERCICIO 5**

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [131]:
def sumar(a,b):
    print("a+b= ",(a+b))
def restar(a,b):
    print("a-b= ",(a-b))
def multiplicar(a,b):
    print("a*b= ",(a*b))
def division(a,b):
    print("b/a= ",(a/b))
def exponente(a,b):
    print("a^b= ",(a**b))

In [132]:
sumar(2,5)
restar(2,5)
multiplicar(2,5)
division(2,5)
exponente(2,5)

a+b=  7
a-b=  -3
a*b=  10
b/a=  0.4
a^b=  32

**EJERCICIO CON ESTRUCTURAS BÁSICAS DE PYTHON**

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [98]:
f=1.5
i=5
b=0

print(type(f),f)
print(type(i),i)
print(type(b),b)

<class 'float'> 1.5
<class 'int'> 5
<class 'int'> 0

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [131]:
d = []

for i in range(1,5):
    nd = int( input( "Dime el numero {}: ".format(i)))
    d.append(nd)
    
print("El primer numero es:")        
for i in range(1):
    print(d[0])

print("El ultimo numero es:")  
print (d.pop())

Dime el numero 1: 1
Dime el numero 2: 4
Dime el numero 3: 5
Dime el numero 4: 4
El primer numero es:
1
El primer numero es:
4

Añadir 3 valores de string a la tupla.

In [142]:
d = []

for i in range(1,5):
    nd = str( input( "Valor: "))
    d.append(nd)
    
x=str(input("agregar: "))   
d.insert(6,x)
y=str(input("agregar: "))   
d.insert(8,y)
z=str(input("agregar: "))   
d.insert(10,z)
print(d)

Valor: asd
Valor: afa
Valor: asf
Valor: as
agregar: as
agregar: a
agregar: a
['asd', 'afa', 'asf', 'as', 'as', 'a', 'a']

Verificar si una variable existe dentro de la tupla.

In [145]:
d = []

for i in range(1,5):
    nd = str( input( "Valor: "))
    d.append(nd)
x=input("Numero a verifcar: ")

if x in d: 
    print("El número existe en la lista")
else:
    print("No existe")

Valor: 1
Valor: 2
Valor: 3
Valor: 4
Numero a verifcar: 4
El número existe en la lista

Crear una lista con 40 elementos aleatorios enteros.

In [42]:
import random
l=[]
for i in range(1,41):
    ln=random.randrange(10)
    l.append(ln)
for i in range(len(l)):
    print(l[i]) 
len(l)

6
5
1
7
6
7
0
1
9
4
4
4
8
3
9
8
2
5
8
8
3
9
7
5
5
2
5
2
6
1
1
6
3
6
8
2
8
9
1
1

40

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [73]:

  def clasificacion(l):
    lpar=[]
    limpar=[]
    
    for i in range(0,len(l)):
        if l[i]%2==0:
            lpar.append(l[i])
        else:
            limpar.append(l[i])

    return(lpar,limpar)

In [74]:
Lista_par=clasificacion(l)[0]
Lista_impar=clasificacion(l)[1]
Lista_par
Lista_impar

[5, 1, 7, 7, 1, 9, 3, 9, 5, 3, 9, 7, 5, 5, 5, 1, 1, 3, 9, 1, 1]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [75]:
p=len(Lista_par)
i=len(Lista_impar)
print(p,i)

19 21

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [79]:
Lista_par.sort()
Lista_impar.sort(reverse=True)

[0, 2, 2, 2, 2, 4, 4, 4, 6, 6, 6, 6, 6, 8, 8, 8, 8, 8, 8]

tilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos

In [81]:
l.sort()
l.sort(reverse=True)
o=l.copy()
l.remove(2)

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [104]:
amixes = {'Gaby': 20, 'Les': 20, 'Sofia': 13, 'Uli': 21, 'Vero':21, 'Ana': 20}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [105]:
edades=[20,20,13,21,20]
edades.sort()
edades

edades = amixes.values()
print("Valores", sorted(list(edades)))

Valores [13, 20, 20, 20, 21, 21]

Usando el diccionario y un loop, imprimir solo los nombres.

In [106]:
for i in amixes:
    print(i)

Gaby
Les
Sofia
Uli
Vero
Ana

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [107]:
amixes["VAle"] = 20
amixes["Mayra"] = 21
print(amixes)

{'Gaby': 20, 'Les': 20, 'Sofia': 13, 'Uli': 21, 'Vero': 21, 'Ana': 20, 'VAle': 20, 'Mayra': 21}

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [117]:
v=set()
for i in range(0,99):
    v.add(r.randint(1,25))
v

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

Comprueba la longitud de tu set.

In [118]:
len(v)

24

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [123]:
import random 

lista = [random.randrange(1, 10)]
for i in range(1,5):
    lista2 = [random.randrange(1, 10)]
    lista += lista2
print(lista)

for i in lista:
    x = i in v
    if x == True:
        print("EXISTE")
    else:
        print("NO EXISTE")

[7, 6, 8, 5, 6]
EXISTE
EXISTE
NO EXISTE
EXISTE
EXISTE

In [133]:
#Bibliografia
#Python for Data Mining Quick Syntax Reference-Valentina Porcu
#https://catedu.gitbooks.io/python-for-person-in-everybody/content/es/08-lists.html